<div class="list">
<ul class="query-table" id="query-table">
    <li class="table-header">
    <div class="col col-1">Id</div>
    <div class="col col-2">Name</div>
    <div class="col col-2">Pinyin</div>
    <div class="col col-1">Birthday</div>
    <div class="col col-2">Homeroom</div>
    <div class="col col-2">Card Id</div>
    <div class="col col-2">Dorm</div>
    </li>
    <!-- <li class="table-row">
    <div class="col col-1" data-label="Id">00000</div>
    <div class="col col-2" data-label="Name">佚名</div>
    <div class="col col-2" data-label="Pinyin">yi min</div>
    <div class="col col-1" data-label="Birthday">19000101</div>
    <div class="col col-2" data-label="Homeroom">XXX</div>
    <div class="col col-2" data-label="Card No">XXXXXXXXXX</div>
    <div class="col col-2" data-label="Dorm">
        <input type="checkbox" disabled>Boarded
        <br>
        <input type="checkbox" disabled>Self Study
    </div>
    </li> -->
</ul>
</div>