<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" media="all" href="./assets/main.css">
    <title>KCIS Stud. List - 404</title>
</head>

<body>
    <div class="main centre">
        <div class="title">
            Sorry! The resource you tried to request does not exists
        </div>
        <p>Try:</p>
        <li>Drop an Issue on <a href="https://www.github.com/KCISHacker/StudList">GitHub</a></li>
        <li>Return to this page later sometime</li>
        <li><a href="javascript:location.reload()">Refresh the page</a></li>
        <li><a href="/StudList">Back to homepage</a></li>
    </div>
</body>

</html>