<!DOCTYPE html>
<html>

<head>
    <script src="./assets/main.js"></script>
    <script src="./assets/data.js"></script>
    <link rel="stylesheet" media="all" href="./assets/main.css">
    <title>KCIS Stud. List</title>
</head>

<body>
    <div class="main centre">
        <div class="last-update-label title">
            Last Update: Loading...
        </div>
        <div style="font-size: 18px; color: #e5c2b0;">
            <div id="data-count" style="display: inline-block">Loading...</div> data contained
        </div>
        <a href="./view.html" style="display: inline-block; margin-top: 5px;">Friendly View</a><br>
        <h4 class="subtitle">Raw Files:</h4><br>
        <!-- <a href="./G7.txt">Grade 7</a><br>
        <a href="./G8.txt">Grade 8</a><br>
        <a href="./G9.txt">Grade 9</a><br> -->
        <a href="./data.json">Json</a><br>
		<a href="/docs/StudList/json">How to use</a>
    </div>
</body>

</html>