<!DOCTYPE html>
<html>

<head>
    <script src="./assets/random.js"></script>
    <script src="./assets/data.js"></script>
    <link rel="stylesheet" media="all" href="./assets/view.css">
    <link rel="stylesheet" media="all" href="./assets/main.css">
    <title>KCIS Stud. List - Random</title>
</head>

<body>
    <div class="main">
        <div id="title" class="last-update-label title">Last Update: Loading...</div><br>
        <h3>Random Person</h3>
        {% include list.html %}
    </div>
</body>

</html>